:root {
    --main-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-text-color: #2196f3;
    --hero-text-color: #ffffff;

    --background-primary-color: #ffffff;
    --background-secondary-color: #2f303a;
}